.iStuffTable {
  position: relative;
}

.IngContent {
  float: none;
  width: auto;
}

.cc {
  &-details {
    position: absolute;
    right: 0;
    transform: translateX(100%);
  }
  
  &-overview { 
    clear: both; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    padding: 5px; 
    background: #FFEDCB; 
    border: 1px solid #E3BC74; 
    text-align: left; 
  }

  &-matches {
    text-align: center;
    cursor: pointer;
  }
}

[class^="Safety"] {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.4)
}

[data-cc-match] {
  background:hsl(39, 100%, 50%);
}

[data-cc-match="1"] {
  background:hsl(255, 100%, 100%);
}

[data-cc-match="2"] {
  background:hsl(39, 100%, 90%);
}

[data-cc-match="3"] {
  background:hsl(39, 100%, 80%);
}

[data-cc-match="4"] {
  background:hsl(39, 100%, 70%);
}

[data-cc-match="5"] {
  background:hsl(39, 100%, 60%);
}