.cc-match{ 
  background:#FFEDCB; 
} 

.cc-overview{ 
  clear:both; 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  padding:5px; 
  background:#FFEDCB; 
  border:1px solid #E3BC74; 
  text-align:center; 
}